@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

:root {
    --primary: #c30000;

    // Default Layout
    --default-layout-header-height: 150px;
    --default-layout-wrapper-width: 1903px;
    --default-fontsize-h1: 50px;
    --default-fontsize-h2: 30px;
    --default-fontsize: 22px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-weight: 400;
}

//pop-up confirm delete in My Account
body.active-confirm {
    overflow-y: hidden;
}
