* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
}

.toggle {
    width: 80px;
    height: 40px;
    background-color: #ccc;
    padding: 5px;
    border-radius: 100rem;
    margin: 25px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.toggle.active {
    background-color: #f626b2;
}

.spinner {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100rem;
    transition: all 0.2s linear;
}

.spinner.active {
    transform: translate(40px);
}

.toggle-control {
    margin: 0 25px;
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.toggle-control > * {
    cursor: pointer;
}
