.quantity-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.quantity-btn__sub,
.quantity-btn__add {
    width: 60px;
    height: 60px;
    font-size: 3em;
    line-height: 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    color: rgba(82, 76, 76, 0.616);
    cursor: pointer;
    background: transparent;
    box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 2px 5px 15px rgba(0, 0, 0, 0.5);
}

.quantity-btn__sub:active,
.quantity-btn__add:active {
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2), inset -2px -5px 15px rgba(0, 0, 0, 0.5);
}

.quantity-btn__number {
    border-radius: 15px;
    outline: none;
    border: none;
    padding: 15px 0px;
    width: 100px;
    text-align: center;
    color: rgba(82, 76, 76, 0.616);
    margin: 0 10px;
    background: transparent;
    box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 2px 5px 15px rgba(0, 0, 0, 0.5);
}
