* {
    padding: 0;
    margin: 0;
    border: none;
}

.content {
    text-align: justify;
    position: relative;
    align-items: center;
    align-content: center;
    margin-left: 100px;
    margin-right: 100px;
    color: #f3dbc9;
    }

.content h1 {
    text-align: center;
    font-size: var(--default-fontsize-h1);
    margin-bottom: 15px;
}

.content h3 {
    text-align: center;
}

.table,
.table th {
    border-top: 2px solid #f3dbc9;
    border-bottom: 2px solid #f3dbc9;
}

.table {
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-collapse: collapse;
}

.table th,
.table td {
    height: 80px;
    padding: 1rem 2rem;

}

.content h2 {
    text-indent: 6rem;
    margin-top: 15px;
    font-size: var(--default-fontsize-h2);
}

.content p {
    padding: 1rem 4rem;
    text-indent: 3rem;
}
